<!DOCTYPE html>
<html lang="en">
 @using System.Security.Claims
@using TutorAppAPI.Helpers
@{
    var user = User;
    var isAdmin = user.IsInRole(UserConstants.AdminRole);
    var isTutor = user.IsInRole(UserConstants.TutorRole);
    var isParent = user.IsInRole(UserConstants.ParentDetails);

}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tutor Master </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bs-stepper/css/bs-stepper.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TutorAppAPI.styles.css" asp-append-version="true" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"/>
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/lib/overlayscrollbars/css/overlayscrollbars.min.css" rel="stylesheet" />
    <link href="~/lib/summernote/summernote-bs4.min.css" rel="stylesheet" />
    <link href="~/lib/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" id="colapse-menu" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @if (isAdmin)
                {
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="~/Admins" class="nav-link">Admins </a>
                    </li>
                }
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>
           
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                @if (!isAdmin || !isTutor || !isParent)
                {
                    <li class="nav-item">
                        <form id="logoutForm" asp-controller="Login" title="Logout" asp-action="Logout" method="post">
                            <button type="submit" class="nav-link" title="Logout"><i class="fa fas fa-lock"></i></button>
                        </form>
                    </li>
                }
                
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a id ="notificationPane" class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" id="notificationDropdown">
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                
            </ul>
        </nav>
        <!-- /.navbar -->


        <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/dist/img/logo-sm.png" class="brand-image img-circle elevation-3" style="opacity: .8" />
             <span class="brand-text font-weight-light">Tutor Master</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
     @*  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div> *@

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Home
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                @if (isAdmin)
                {
                  <li class="nav-item">
                     <a href="~/Admins" class="nav-link active">
                      <i class="far fa-user nav-icon"></i>
                      <p>Admins</p>
                    </a>
                  </li>
                }
                @if (isAdmin)
                {
                  <li class="nav-item">
                        <a href="~/EducationLevel" class="nav-link">
                         <i class="far fa-chalkboard-user  nav-icon"></i>
                        <p>Education Level</p>
                    </a>
                  </li>
                }
                @if (isAdmin)
                {
                    <li class="nav-item">
                        <a href="~/TutorCategory" class="nav-link">
                            <i class="far fa-landmark nav-icon"></i>
                            <p>Tutor Category</p>
                        </a>
                    </li>
                }
                @if (isAdmin)
                {
                    <li class="nav-item">
                        <a href="~/TutorLevel" class="nav-link">
                            <i class="far fa-landmark nav-icon"></i>
                            <p>Tutor Level</p>
                        </a>
                    </li>
                }
                @if (isAdmin)
                {
                    <li class="nav-item">
                        <a href="~/TutorSchools" class="nav-link">
                            <i class="far fa-landmark nav-icon"></i>
                            <p>Tutor School</p>
                        </a>
                    </li>
                }
                @if (isAdmin)
                {
                    <li class="nav-item">
                        <a href="~/TutorSubject" class="nav-link">
                            <i class="far fa-landmark nav-icon"></i>
                            <p>Tutor Subjects</p>
                        </a>
                    </li>
                }
                @if (isAdmin)
                {
                    <li class="nav-item">
                        <a href="~/TutorGrade" class="nav-link">
                            <i class="far fa-landmark nav-icon"></i>
                            <p>Tutor Grade</p>
                        </a>
                    </li>
                }
                @if (isAdmin)
                {
                 <li class="nav-item">
                     <a href="~/TutorLocations" class="nav-link">
                         <i class="far fa-landmark nav-icon"></i>
                         <p>Tutor Location</p>
                     </a>
                 </li>
                }
                @if (isParent || isTutor)
                {
                    <li class="nav-item">
                        <a asp-controller="Assignment" asp-action="Index" class="nav-link">
                            <i class="far fa-landmark nav-icon"></i>
                            <p>Postings</p>
                        </a>
                    </li>
                }
                @if (isParent)
                {
                    <li class="nav-item">
                          <a asp-controller="ParentDetails" asp-action="Profile" class="nav-link">
                            <i class="far fa-landmark nav-icon"></i>
                            <p>Profile</p>
                        </a>
                    </li>
                }
               @if (isTutor)
               {
                   <li class="nav-item">
                       <a asp-controller="Tutors" asp-action="Profile" class="nav-link">
                           <i class="far fa-landmark nav-icon"></i>
                           <p>Profile</p>
                       </a>
                   </li>
               }
                   <li class="nav-item">
                                    <a asp-controller="Notification" asp-action="Index" class="nav-link">
                           <i class="far fa-landmark nav-icon"></i>
                           <p>Notification</p>
                       </a>
                   </li>
                @if (isAdmin || isTutor || isParent)
                {
                    <li class="nav-item">
                        <form id="logoutForm" asp-controller="Login" asp-action="Logout" method="post">
                            <button type="submit" class="nav-link"><i class="fa fas fa-lock"></i>Logout</button>
                        </form>
                    </li>
                }
                
            </ul>
          </li>
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>


        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                   
                </div><!-- /.container-fluid -->
            </section>
            <section class="content">
             @RenderBody()
            </section>
            <!-- /.content -->
        </div>


        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="~/Home">Tutor Master</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>

    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   @*  <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script> *@
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>
    <script src="~/lib/overlayscrollbars/js/jquery.overlayscrollbars.min.js"></script>
    <script src="~/dist/js/adminlte.js"></script>
    <script src="~/dist/js/demo.js"></script>
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <script src="~/dist/js/pages/dashboard.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/bs-stepper/js/bs-stepper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(function () {
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            });
            $("#colapse-menu").click();

            $('#notificationPane').on('click', function () {
                $.ajax({
                    url: '@Url.Action("NotifyPanel", "Notification")',
                    type: 'GET',
                    success: function (result) {
                        $('#notificationDropdown').html(result);
                    }
                });
            });
        });
        // BS-Stepper Init
        document.addEventListener('DOMContentLoaded', function () {
            window.stepper = new Stepper(document.querySelector('.bs-stepper'))
        })

        
           
      
    </script>
</body>
</html>
