@{
    Layout = "~/Views/Shared/_LayoutWithoutAnyMenu.cshtml";
    ViewData["Title"] = "Reset Password";
}
<div class="container">
    <h2>Reset Password</h2>
    <p>@ViewBag.Message</p>
    <a href="@Url.Action("Login", "Login")" class="btn btn-primary">Back to Login</a>
</div>
